# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.jython_cache/

# Idea
.idea/

# Demo files
/src/main/java/pl/samples/JAXB/Serialization/users.xml
/src/main/java/pl/samples/iText/example.pdf
